*, body {
    font-family: 'Open Sans', sans-serif;
}

.mainContainer{
    margin-left: 0 !important;
}

table.main_table tr th, table.main_table tr td {
    padding: 1px !important;
    text-align:center;
    white-space: normal;
}

table.main_table tr th{
    color: white !important;
    font-weight: 900;
    white-space: normal;
}

/* table.main_table {
    table-layout:fixed;
    width:100%;
} */